<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>济南销售招聘|济南招聘销售|济南招聘业务员-济南58同城</title>
    <meta name="description" content="58同城济南销售招聘网，每天免费为求职者提供上万条最新济南销售招聘、济南招聘业务员职位信息，同时为企业提供免费发布济南销售招聘、济南招聘业务员职位信息平台。" />
    <meta name="keywords" content="济南销售招聘,济南招聘销售,济南招聘业务员" />
		<script type="text/javascript">
try{
	var ____json4fe = {"catentry":[{"dispid":"9224","name":"全职招聘","listname":"job"},{"dispid":"13901","name":"销售","listname":"yewu"}],"locallist":[{"dispid":"265","name":"济南","listname":"jn"}],"start":(new Date()).getTime(),"modules":"list"};
	____json4fe.version = 'A';
	____json4fe.modules = 'listpage';
	____json4fe.smsc = '0ab2e8dd936f99800ca3584af79e54f6041942f27c55e69a7257d0e3d1bf4aeabc6bcbc2d1acf4003eaf4ba19ab3859ccb1e64d6b5741660946e114502b915f42a9569a326d16dea41af77af08ec82455e9c530da2654d859dd7053bbe7741bb564fff89bfd4d760a33db99f9fef366f774dad5ac3889ff1b41ac2a7426746b32d5bd02b8f5285f746069f1c1c6b33a668be39797cd95d775ff619d639f938bbb2c3bc8347660ae11b9d281bb6f9ea9adc5faf94ba192e05806bd5d05b38bc366d1ae803d20418a69ace71a7d4581fbf';
}catch(e){};
</script>
	<style>
.top {
	height: 122px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-image: url(images/zp02.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.top a:link {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.top a:visited {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
.top a:hover {
	font-size: 12px;
	color: #0000FF;
	text-decoration: blink;
}
.toptxt {
	text-align: justify;
	font-size: 12px;
	color: #333333;
}

.topbg {
	background-image: url(images/index_r1_c4.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 122px;
	width: 100%;
	font-size: 12px;
}
.topewm {
	float: right;
	height: 80px;
	width: 60px;
	padding-top: 30px;
	text-align: center;
}
.bottom01 {
	padding-left: 50px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #464646;
	font-size: 14px;
	line-height: 32px;
	margin-top: 15px;
	width: 100%;
	background-color: #f5f5f5;
}
.topimg {
	position: absolute;
	top: 56px;
	left: 1010px;
}
    </style>
 
<link href="__PUBLIC__/css/job-new-list_v20141125184218.css" rel="stylesheet" type="text/css" />
		<link type="text/css" href="__PUBLIC__/css/job-list_v20141216190758.css" rel="stylesheet" />
</head>
	
	<body class="wbp-job-list">
	<div class="topbg">
  <div class="top">
    <div class="toptxt">济南[<a href="#">切换城市</a>] 　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　<a href="#">注册</a> | <a href="#">登录</a> | <a href="#">返回首页</a></div>
	<div id="searchbar" class="searchbar fl">
            <div class="xiala w1" style="margin-right:0;display:none;">
                <span data-type="cate" data-value="job" class="searchselect"></span>
                <span class="text">
                    <span data-type="queryName" data-value="key" class="searchselect">全文搜索</span>
                </span>
                <div class="selecttext hc">
                    <a href="javascript:void(0);" data-value='key' data-msg='职位名称或公司名称'>全文搜索</a>
                    <a href="javascript:void(0);" data-value='gongsimingcheng'>公司名称</a>
                </div>
                <div class="ln hc"></div>
            </div>
                            <form onsubmit="b_query();return false;">
                    <span id="key" class="searchInput">
                        <input id="keywordtop" class="keyword" para="key" name="b_q" value="请输入职位名称或公司名称" onblur="win.closeToolTipWindow();if(this.value==''){this.value='请输入职位名称或公司名称';this.className='keyword';}" onfocus="if(this.value=='请输入职位名称或公司名称')this.value='';this.className='keyword2';" onkeyup="win.GetContentData();" autocomplete="off" fdv="请输入职位名称或公司名称" data-fdv="true">
                     </span>
                    <a id="searchbtnSelf" class="sbtn" type="button" href="javascript:void(0);">搜本类</a>
                                            <a id="searchbtnAll" class="sbtn c70" type="button" href="javascript:void(0);">搜全站</a>
      </form>
    </div><img class="topimg" src="images/fabu.jpg" />
  </div>
</div>
	<img class="topimg" src="images/fabu.jpg" /> 
<input id="rooturl" value="http://jn.58.com/job/" type="hidden"/>

<div id="brand_list_top_banner"></div>
		<div id="filter" class="filter" tongji_id="ZP_jianzhi_list_div_select">
	<div class="tabs">
		<a href="javascript:;" class="tabselect">济南学生兼职兼职</a>
        		<a href="/qzxueshengjianzhi/">济南学生兼职简历</a>
            </div>
	<div class="sub-tag">
		<dl class="">
    <dt>职位：</dt>
    <dd>
		 							 					<a href="http://jn.58.com/jianzhi/" >
						全部					</a>　
				 					<a href="http://jn.58.com/xueshengjianzhi/"  name='b_link' para='cate' pk='jianzhi' class='select' >
						<strong>学生兼职</strong>					</a>　
				 					<a href="http://jn.58.com/xiaoshoucuxiao/" >　
						促销/导购					</a>　
				 					<a href="http://jn.58.com/fachuandan/" >
						传单派发					</a>　
				 					<a href="http://jn.58.com/canyinfuwu/" >
						钟点工					</a>　
				 					<a href="http://jn.58.com/jianzhifwy/" >
						服务员					</a>　
				 					<a href="http://jn.58.com/peisongyuan/" >
						生活配送员					</a>　
				 					<a href="http://jn.58.com/yiyuanhugong/" >
						护工					</a>　
				 					<a href="http://jn.58.com/cuiru/" >
						催乳师					</a>　
				 					<a href="http://jn.58.com/kefushichang/" >
						问卷调查					</a>　
				 					<a href="http://jn.58.com/event/" >
						活动策划					</a>　
				 					<a href="http://jn.58.com/wangluoyingxiao/" >
						网络营销					</a>　
				 					<a href="http://jn.58.com/actingplayer/" >
						游戏代练					</a>　
				 					<a href="http://jn.58.com/jisuanjiwl/" >
						网站建设					</a>　
				 					<a href="http://jn.58.com/partimeseo/" >
						SEO优化					</a>　
				 					<a href="http://jn.58.com/jzsoftware/" >
						软件开发/编程					</a>　
				 					<a href="http://jn.58.com/partimeqa/" >
		  兼职测试					</a>　</dd>
</dl>
				<dl>
	<dt>区域：</dt>
	<dd>
		<ul class="seljobArea">
						  <li>
				                    <a class="select" href="/xueshengjianzhi/?from=jz_xueshengjianzhi" ><strong>全济南</strong></a>
				              </li>
						  <li>
									<a href="/lixia/xueshengjianzhi/?from=jz_xueshengjianzhi">历下</a>
				              </li>
						  <li>
									<a href="/jnshizhong/xueshengjianzhi/?from=jz_xueshengjianzhi">市中</a>
				              </li>
						  <li>
									<a href="/tianqiao/xueshengjianzhi/?from=jz_xueshengjianzhi">天桥</a>
				              </li>
						  <li>
									<a href="/licheng/xueshengjianzhi/?from=jz_xueshengjianzhi">历城</a>
				              </li>
						  <li>
									<a href="/huaiyinqu/xueshengjianzhi/?from=jz_xueshengjianzhi">槐荫</a>
				              </li>
						  <li>
									<a href="/gaoxinqujn/xueshengjianzhi/?from=jz_xueshengjianzhi">高新</a>
				              </li>
						  <li>
									<a href="/changqingqv/xueshengjianzhi/?from=jz_xueshengjianzhi">长清</a>
				              </li>
						  <li>
									<a href="/zhangqiushi/xueshengjianzhi/?from=jz_xueshengjianzhi">章丘</a>
				              </li>
						  <li>
									<a href="/pingyin/xueshengjianzhi/?from=jz_xueshengjianzhi">平阴</a>
				              </li>
						  <li>
									<a href="/jiyang/xueshengjianzhi/?from=jz_xueshengjianzhi">济阳</a>
				              </li>
						  <li>
									<a href="/shanghe/xueshengjianzhi/?from=jz_xueshengjianzhi">商河</a>
				              </li>
						  <li>
									<a href="/jinanzhoubian/xueshengjianzhi/?from=jz_xueshengjianzhi">济南周边</a>
				              </li>
					</ul>
			</dd>
</dl>
    </div>
</div>
<div class="masklayer" style="display: none;"></div>		
		<div class="main01">
		<div class="selInfo02" tongji_id="ZP_jianzhi_list_div_filter">
            <div class="fl" tongji_id="ZP_jianzhi_list_div_filter">
	
	<div class="selmore fl">
		<div class="itemInfo sala_item">
    		<div class="itemT">
    			<span> 薪资结算 </span><b></b>
    		</div>
			<ul class="salalist">
				        			<li  class="ophover" >
        				        					<a name="b_link" para="custom" rel="nofollow" href="http://jn.58.com/xueshengjianzhi/?from=jz_xueshengjianzhi" class="select"><strong>不限</strong></a>
        				                    </li>
        		        			<li >
        				        					<a name="b_link" para="custom" rel="nofollow" href="http://jn.58.com/xueshengjianzhi/pve_8897_1_pve_5370_0/">日结</a>
        				                    </li>
        		        			<li >
        				        					<a name="b_link" para="custom" rel="nofollow" href="http://jn.58.com/xueshengjianzhi/pve_8897_2_pve_5370_0/">周结</a>
        				                    </li>
        		        			<li >
        				        					<a name="b_link" para="custom" rel="nofollow" href="http://jn.58.com/xueshengjianzhi/pve_8897_3_pve_5370_0/">月结</a>
        				                    </li>
        		        			<li >
        				        					<a name="b_link" para="custom" rel="nofollow" href="http://jn.58.com/xueshengjianzhi/pve_8897_4_pve_5370_0/">完工结算</a>
        				                    </li>
        		            </ul>
        </div>
		
	<div class="itemInfo time_item">
		<div class="itemT">
			<span id="seltimeText">兼职时间</span><b></b>
		</div>
		<div class="timelist" style="display:none;">
			<table id="pt-seltime" class="pt-seltime">
				<thead>
					<tr>
						<th>&nbsp;</th>
						<th week="1">星期一</th>
						<th week="2">星期二</th>
						<th week="3">星期三</th>
						<th week="4">星期四</th>
						<th week="5">星期五</th>
						<th week="6">星期六</th>
						<th week="7">星期日</th>
					</tr>
				</thead>							
				<tbody>
					<tr>
						<th class="cursorp" date="morning">上午</th>
						<td week="1" date="morning" index="1" value="11"><i></i></td>
						<td week="2" date="morning" index="4" value="21"><i></i></td>
						<td week="3" date="morning" index="7" value="31"><i></i></td>
						<td week="4" date="morning" index="10" value="41"><i></i></td>
						<td week="5" date="morning" index="13" value="51"><i></i></td>
						<td week="6" date="morning" index="16" value="61"><i></i></td>
						<td week="7" date="morning" index="19" value="71"><i></i></td>
					</tr>
					<tr>
						<th class="cursorp" date="afternoon">下午</th>
						<td week="1" date="afternoon" index="2" value="12"><i></i></td>
						<td week="2" date="afternoon" index="5" value="22"><i></i></td>
						<td week="3" date="afternoon" index="8" value="32"><i></i></td>
						<td week="4" date="afternoon" index="11" value="42"><i></i></td>
						<td week="5" date="afternoon" index="14" value="52"><i></i></td>
						<td week="6" date="afternoon" index="17" value="62"><i></i></td>
						<td week="7" date="afternoon" index="20" value="72"><i></i></td>
					</tr>
					<tr>
						<th class="cursorp" date="evening">晚上</th>
						<td week="1" date="evening" index="3" value="14"><i></i></td>
						<td week="2" date="evening" index="6" value="24"><i></i></td>
						<td week="3" date="evening" index="9" value="34"><i></i></td>
						<td week="4" date="evening" index="12" value="44"><i></i></td>
						<td week="5" date="evening" index="15" value="54"><i></i></td>
						<td week="6" date="evening" index="18" value="64"><i></i></td>
						<td week="7" date="evening" index="21" value="74"><i></i></td>
					</tr>
					<tr>
						<td colspan="8" id="selectTimeAll" class="selOper">
							<a href="javascript:;" k="s">确定</a>
							<a href="javascript:;" k="c">清除</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div class="itemInfo loca_item">
		<div class="itemT">
    		<span default="工作地点">工作地点</span>
    		<b></b>
    	</div>
		<div class="localist">
			<div class="showline"></div>
				<ul class="distlist">
											<li>
							<a href='/xueshengjianzhi/?from=jz_xueshengjianzhi'   class='locasel' >全济南</a>
						</li>
											<li>
							<a href='/lixia/xueshengjianzhi/?from=jz_xueshengjianzhi'  p='267'   >历下</a>
						</li>
											<li>
							<a href='/jnshizhong/xueshengjianzhi/?from=jz_xueshengjianzhi'  p='266'   >市中</a>
						</li>
											<li>
							<a href='/tianqiao/xueshengjianzhi/?from=jz_xueshengjianzhi'  p='268'   >天桥</a>
						</li>
											<li>
							<a href='/licheng/xueshengjianzhi/?from=jz_xueshengjianzhi'  p='270'   >历城</a>
						</li>
											<li>
							<a href='/huaiyinqu/xueshengjianzhi/?from=jz_xueshengjianzhi'  p='269'   >槐荫</a>
						</li>
											<li>
							<a href='/gaoxinqujn/xueshengjianzhi/?from=jz_xueshengjianzhi'  p='8322'   >高新</a>
						</li>
											<li>
							<a href='/changqingqv/xueshengjianzhi/?from=jz_xueshengjianzhi'  p='271'   >长清</a>
						</li>
											<li>
							<a href='/zhangqiushi/xueshengjianzhi/?from=jz_xueshengjianzhi'  p='272'   >章丘</a>
						</li>
											<li>
							<a href='/pingyin/xueshengjianzhi/?from=jz_xueshengjianzhi'  p='273'   >平阴</a>
						</li>
											<li>
							<a href='/jiyang/xueshengjianzhi/?from=jz_xueshengjianzhi'  p='274'   >济阳</a>
						</li>
											<li>
							<a href='/shanghe/xueshengjianzhi/?from=jz_xueshengjianzhi'  p='275'   >商河</a>
						</li>
											<li>
							<a href='/jinanzhoubian/xueshengjianzhi/?from=jz_xueshengjianzhi'  p='1920'   >济南周边</a>
						</li>
					                </ul>
				<ul class="dist_info" style="display:none"><!--选中某区时显示-->
					<!--选中添加样式locasel-->									
				</ul>
			</div>
        </div>
		<div class="reltime_item" style="display:none;"></div>
    </div>
		
    <div class="shaixuan fl">
    	<span class="kprompt"><input para="key1" name="b_q1" onblur="win1.closeToolTipWindow();if(this.value==''){this.value='关键词';this.className='keyword';}" id="keyword1" class="keyword" onfocus="if(this.value=='关键词')this.value='';this.className='keyword2';" onkeyup="win1.GetContentData();"  value="关键词" autocomplete="off" fdv="关键词" data-fdv="true"></span>
			<a href="javascript:;">筛选</a>
			<ul class="searlist" style="display:none"></ul>
        </span>
    </div>
	
		    <div class="itemInfo sort_item">
		<div class="itemT">
			<span>默认排序</span><b></b>				
		</div>
		<ul class="orderlist">
			<li><a href="http://jn.58.com/xueshengjianzhi/?from=jz_xueshengjianzhi">默认排序</a></li>
			<li id="freeest"><a href="http://jn.58.com/xueshengjianzhi/?from=jz_xueshengjianzhi&filter=free" rel="nofollow">最新信息</a></li>
		</ul>
	</div>
	
</div>
        </div>
		  <div id="maincon" class="maincon">
    <div id="top_google_ad"></div>
    <div id="infolist" class="tablist" tongji_id="ZP_searchjob_list_div_items">
	<dl logr="q_0_17792542000902_20522569862787_4_0_"  id="jingzhun" _pos="1"  sortid='473676576'>
                                <dd class="w46">
                                    <i infoid='20522569862787'></i>
                                </dd>
                                <dt>
                                    <a href="http://jing.58.com/adJump?adType=0&target=na3Qn10QnjmLnW91P1DOPjbOnzQCIZwkrBtfph38PH98mvqVsvGGmgGCuyOMmh7fph--XA-8s1ckPHczPHmOrjmzP19LXaO1pZwVUakQn1NvPHbznj91njbLrHc_sHD_nak_sjT_nHEznHnknW0drH9LrakznjNznWNvrH9vnW03PzkksakzPWN_nHnOP1D_sj-Wmyc3PAwhsyPBn1EVPj6-uidBP1nzsH9QPWbYrHTOnjFbrikLsjDLP1bzPHEznjTkrHTz&JZEND=END" target="_blank" class="t" tips="t"                                        rel="nofollow"  _t='jingzhun'>
                                        诚聘学生寒假工
                                    </a>
                                    <span class="hoverinfobox" style="display: none;">
	 <div id="arrow">
        <em></em>
        <span></span>
    </div>
    <div id="tipsbox" class="tipsbox" style="top: -268px;">
    	<div class="xboxcontent">
    		 <div class="titbar">
                <h2>济南德林家庭服务有限公司</h2>
            </div>
			<ul>
				<li>
					                    <span>招聘人数：</span>50人				</li>
				<li class="mar30">
					<span class="wordSp">有效期：</span>长期招聘
                </li>
				<li>
                    <span>薪资水平：</span>3000-5000元/月 
				</li>
				<li>
					
                </li>
				<li>
                    <span>工作区域：</span>
                    <div class="areaInfo">市中-济微路</div>
                </li>
												<li>
                     <span>详细地址：</span>济南市市中区济微路124号北邻
				</li>
				            </ul>
            <p>
				年底将至，家政业务繁忙，为适应公司发展需要，特招聘假期学生兼职（一）工作内容：发放公司宣传卡片以及家政服务工作。工作要求：寒假期间学生免费提供住宿，工资年底一次性结清，日工作八小时，宣传卡片的发放及家政服务工作。（二） 工作内容：协助老员工清洁室内卫生，工作简单，时间灵活。工资待遇：13元/小时+提成，多劳多得。寒假期间免费提供住宿，年底工资一次性结清公司直招....
			</p>
    	</div>
    </div>
</span>                                                                            <span class="tu" title="">[1图]</span>
                                                                                                                <a class="ico jingpin"></a>
                                                                                                            <span name="zaixian_17792542000902"></span>
                                </dt>
                                <dd class="w271">
                                                                            <a href='http://qy.58.com/17792542000902/' target="_blank" class="fl"
                                           title="济南德林家庭服务有限公司">济南德林家庭服务有限公司</a>
                                                                                                        </dd>
                                <dd class="w133">3000-5000元/月 </dd>
                                <dd class="w68">今天</dd>
                            </dl>
<dl logr="q_0_17792542000902_20522569862787_4_0_"  id="jingzhun" _pos="1"  sortid='473676576'>
                                <dd class="w46">
                                    <i infoid='20522569862787'></i>
                                </dd>
                                <dt>
                                    <a href="http://jing.58.com/adJump?adType=0&target=na3Qn10QnjmLnW91P1DOPjbOnzQCIZwkrBtfph38PH98mvqVsvGGmgGCuyOMmh7fph--XA-8s1ckPHczPHmOrjmzP19LXaO1pZwVUakQn1NvPHbznj91njbLrHc_sHD_nak_sjT_nHEznHnknW0drH9LrakznjNznWNvrH9vnW03PzkksakzPWN_nHnOP1D_sj-Wmyc3PAwhsyPBn1EVPj6-uidBP1nzsH9QPWbYrHTOnjFbrikLsjDLP1bzPHEznjTkrHTz&JZEND=END" target="_blank" class="t" tips="t"                                        rel="nofollow"  _t='jingzhun'>
                                        诚聘学生寒假工
                                    </a>
                                    <span class="hoverinfobox" style="display: none;">
	 <div id="arrow">
        <em></em>
        <span></span>
    </div>
    <div id="tipsbox" class="tipsbox" style="top: -268px;">
    	<div class="xboxcontent">
    		 <div class="titbar">
                <h2>济南德林家庭服务有限公司</h2>
            </div>
			<ul>
				<li>
					                    <span>招聘人数：</span>50人				</li>
				<li class="mar30">
					<span class="wordSp">有效期：</span>长期招聘
                </li>
				<li>
                    <span>薪资水平：</span>3000-5000元/月 
				</li>
				<li>
					
                </li>
				<li>
                    <span>工作区域：</span>
                    <div class="areaInfo">市中-济微路</div>
                </li>
												<li>
                     <span>详细地址：</span>济南市市中区济微路124号北邻
				</li>
				            </ul>
            <p>
				年底将至，家政业务繁忙，为适应公司发展需要，特招聘假期学生兼职（一）工作内容：发放公司宣传卡片以及家政服务工作。工作要求：寒假期间学生免费提供住宿，工资年底一次性结清，日工作八小时，宣传卡片的发放及家政服务工作。（二） 工作内容：协助老员工清洁室内卫生，工作简单，时间灵活。工资待遇：13元/小时+提成，多劳多得。寒假期间免费提供住宿，年底工资一次性结清公司直招....
			</p>
    	</div>
    </div>
</span>                                                                            <span class="tu" title="">[1图]</span>
                                                                                                                <a class="ico jingpin"></a>
                                                                                                            <span name="zaixian_17792542000902"></span>
                                </dt>
                                <dd class="w271">
                                                                            <a href='http://qy.58.com/17792542000902/' target="_blank" class="fl"
                                           title="济南德林家庭服务有限公司">济南德林家庭服务有限公司</a>
                                                                                                        </dd>
                                <dd class="w133">3000-5000元/月 </dd>
                                <dd class="w68">今天</dd>
                            </dl>        			                                                    
      </div>
    <div id="bottom_google_ad" class="zLink"></div>
            <div class="seleAll" tongji_id="ZP_searchjob_list_div_atAll">
        <span>
            <i class="selAllIcon"></i> 全选        </span>
            <a href="javascript:void(0);" class="btn ser-res">批量投递简历</a>
            <!-- <a href="javascript:void(0);" class="btn save">加入收藏夹</a>-->
        </div>
        </div>
       <div id="bottom_google_ad" class="zLink"></div>   
	     
       <iframe src="" id="searchResult" name="searchResult" frameborder="0" width="100%" scrolling="no" height="40"></iframe>
       <div class="pagerout">
        <div class="pager" tongji_id="ZP_job_list_div_next">
             <strong><span>1</span></strong><a href="/yewu/pn2/"><span>2</span></a><a href="/yewu/pn3/"><span>3</span></a><a href="/yewu/pn4/"><span>4</span></a><a href="/yewu/pn5/"><span>5</span></a><a href="/yewu/pn6/"><span>6</span></a><a href="/yewu/pn7/"><span>7</span></a><a href="/yewu/pn8/"><span>8</span></a><a class="next" href="/yewu/pn2/"><span>下一页</span></a>
        </div>
    </div>
	
    </div>			
	
                                                                                                            

                            
            
                            
    
        <div style="display:none">
            <!--基本统计代码begin(9224,0)--by:zhanghao06-->
<script type="text/javascript"> 
____json4fe.supplycount = {sortid: ''};
var site_name = "58", post_count = "41227", page_type = "list";
 _trackURL = "{'cate':'9224,13901','area':'265','pagetype':'list','pagesize':'35','pagenum':'1','jiage':'','level1':'0','level2':'0','level3':'0','level4':'0','level5':'0','level6':'0','level7':'0','adinfo_count':'0','topinfo_count':'0','promationinfo_count':'3686','commoninfo_count':'0','addtional_count':'0','GA_pageview':'/job/yewu/list/'}";
</script>
<script src="js/referrer4.js"></script>
<!--基本统计代码end--></div>
<div class="bottom01">校企网 大学生综合服务平台版权所有<br />
    	  Copyright © 1998 - 2014 Tencent. All Rights Reserved</div>
	</body>
	
</html>
<!-- flag=iResearch-zp -->