<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>简历投递记录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="private" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/usermgm20121108_v0.css" />
</head>
<body>
<div class="applyhistory">
		<div class="title clearfix">
		<h2 class="balance-h2">简历投递记录<span class="a-tip">(最近1天申请  <span class="red">1</span> 条，共申请1条职位)</span></h2>
	    <span class="history-tip">
    		<div class="toudi" id="toudi">
              <span title="投递的简历">投递的简历</span>
                <div class="toudilist" id="toudilist" style="display:none;">
                	<ul>
                		                    	<li><a  href="/applypositionhistoryui/r81074704836102/" title="美工">美工</a></li>
                    	                    	<li><a  class="selectToudi"  href="/applypositionhistoryui/">不限</a></li>
                    </ul>
                </div>
            </div>
	    </span>
	</div>
	<div class="c"></div>
    <table class="qz">
	<thead>
		<tr>
			<th width="36px">&nbsp;</th>
			<th width="201px">投递的职位</th>
			<th width="214px">公司名称</th>
            <th width="100px">投递反馈</th>
			<th width="110px">投递时间</th>
			<th width="154px">操作</th>
		</tr>
     </thead>
     <tbody>
		<!-- <col width="10" />
		<col width="270" />
		<col width="270" />
		<col width="100" />
		<col width="165" />
		<tr>
			<th>&nbsp;</th>
			<th>投递的职位</th>
			<th>公司名称</th>
			<th>投递时间</th>
			<th>操作</th>
		</tr> -->
                	                <tr>
                    <td><input class="checkqx" type="checkbox" id="cbID" name="cbID" value="850554658136984" /></td>
                                        <td>
                    	<div class="zpj_tp ">
							                    			<a href="http://jn.58.com/tech/20017127351170x.shtml" target="_blank" title="网页平面设计师">网页平面设计师</a>
               							  </div>
                    <td>
                   		                   			<a href="http://qy.58.com/51353646/" target="_blank">北京风向标旅游文化公司</a>
           							  </td>
												                    	<td class="dfk">待反馈</td>
	                    					                    <td>2015-01-14</td>
                    <td>
                                        <a href="http://jn.58.com/tech/20017127351170x.shtml" target="_blank" class="comment">点评</a> 
                                        <a href="javascript:DeleApply(850554658136984);">删除</a>
                    </td>
                </tr>
      </tbody>
    </table>
    <div class="area_cz3">
        <div style="float:right; padding:2px 0;" class="pager" id="pageInfo">
        </div>
        <input type="checkbox" class="checkqx" onclick="SelectAllCheckBox(this)" value="0" /> 全选
        <input type="button" class="btn-v2" onclick="javascript:DeleteAllApply();" value="删除" />
    </div>
    <div class="c"></div>
<div id="zp_recommend"></div>
</div>
</body>
</html>