<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<link href="__PUBLIC__/css/user-n2012.css" rel="stylesheet" type="text/css" />
<link href="__PUBLIC__/css/vip_tg1.css" rel="stylesheet" type="text/css" /><!-- 新版css -->
<title>我的招聘</title>
<script type="text/javascript">document.domain = '58.com'; </script>
<script src="js/jquery1.3.2.js" type="text/javascript"></script>
<script type="text/javascript">try { var ____json4fe = { catentry: { dispid: '', name: '', listname: '39' }, locallist: { dispid: '', name: '', listname: '' }, modules: 'my'} } catch (e) { };</script>
<script src="js/boot_mypage_version.js" type="text/javascript"></script>

</head>

<body>
<iframe id="tuiguang_" src="http://tuiguang.58.com/cube/pc/list/1001?userId=28077761639686&infoIds=20368498122499" frameborder="0" scrolling="0" class="iframe_0" style="height:123px; overflow:hidden; display:none;" ></iframe>
 <input type="hidden" name="myInputToken" id="myInputToken"  value="20e2906d8b9267ba50c4a86fa352eee4" />	
 	<span id="qy_my_cityIndenty" style="display:none">265</span>
 <div class="xinxi-guanli">
	
<!-- 
<div id="banner_app131129" style="padding-bottom:10px;">
<a href="http://download.58.com/productor/58client_v4.9.0.0_529.apk" target="_blank">
<img src="http://pic2.58.com/ui7/job/hire/banner_app_131129.png">
</a>
</div>
 -->
 

<div class="xinxi-title">
	<ul class="clearfix" id="details-ul">
					<li><a href="javascript:void(0);" id="zx">最新信息</a></li>
							<li><a href="/zpxinxiguanli/574">显示中的信息</a></li>
							<li><a href="/zpinfocheck/574">审核中的信息</a></li>
							<li class="hover"><a href="/zpinfodel/574">未显示的信息</a></li>
	</ul>
</div>		 			<!-- 新版 -->
		<div class="toptitbar">
	    	<!-- <div class="checkarea"><input name="" type="checkbox" value="" /></div> -->
        <span class="text1">信息</span></div>
		<div class="tgmainbox job">
						<div class="tgitembox" id="tr20368498122499" >
		        <div class="tgitembox-m clearfix">
		        	<div class="tgitembox-m-l">           	               
		                <div class="xx-tit">
							<h2><a href="http://jn.58.com/tech/20368498122499x.shtml" target="_blank">网站编辑</a><span class="wz1"><a target="_blank" href="http://jn.58.com/">济南</a>-<a target='_blank' href='http://jn.58.com/wangzhanyingyun/'>网站编辑</a></span></h2>
		                    		                    <a class="my_jianli" href="javascript:parent.setbg('招聘职位：<b>网站编辑</b>',750,450,'interviewinvitereceive[1].html')">应聘简历</a>
		                    			                    		                                                            浏览量：35次
	                  </div>
		                <div class="xx-cz">
		                																								<a class="my_shuaxin" id='reflashspan20368498122499' title='刷新后信息靠前显示，相当于新发一条。' onclick="job_reflashinfo('20368498122499');" href='javascript:void(0);'>刷新</a>
																						<a class="my_xiugai qy_xiugai_id" id='update20368498122499' href="javascript:void(0);" onclick="xiugaiNomoalInfo(20368498122499)">修改</a>
							<a class="my_shan" href="javascript:job_closeinfo1('20368498122499')" id="del_20368498122499">关闭</a>
														<span id='topspan20368498122499' style="display:none"><a class="my_zhiding" href='javascript:$.c.info.InfoTop("20368498122499",1001);' tongji="list_opt_zhiding">置顶</a></span>
												<span style='display: none;' class='ico-w ding-w' title='委托置顶中' id="ding_20368498122499"></span>
		                </div>
		                <div class="xx-bh">
		                	信息编号：20368498122499<span class="ml15">更新时间：2014-12-25 21:25:53</span>
		                </div> 
	              </div>
		            
		        </div>
		    </div>
   </div>
		<!-- end 新版 -->
 </div>
<!-- flag=iResearch-zp-qy -->
</body>