<include file="Public/top" /> 
<link rel="stylesheet" href="__PUBLIC__/css/ypt_login.css" type="text/css" />
	<div class="cb win1000">
		<form id="submitForm" action="/domobileregister" method="post" name="submitForm" target="formSubmit">
		  <div class="loginleft"><img src="__PUBLIC__/images/login_r2_c2.png" /></div>
		  <div class="loginright">
		     <div class="logintop">账号登录</div>
			 <table width="300" border="0" align="center" cellpadding="0" cellspacing="0">
               <tr>
                 <td height="40">&nbsp;</td>
               </tr>
             </table>
			 <table class="logintable" width="300" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="80">账　号</td>
    <td><label>
      <input class="logininput" type="text" name="account" />
    </label></td>
  </tr>
  <tr>
    <td>密　码</td>
    <td><label>
      <input class="logininput" type="password" name="password" />
    </label></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td class="logintable02"><label>
      <input type="checkbox" name="checkbox" value="checkbox" />
    </label>
      <label for="coks">下次自动登录</label></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>							  <span class="butt" style="line-height:34px;">
							  <input type="submit" name="btnSubmit" value="登录" class="btns"/>
							  </span><span class="reg-a"><a href="/forgetpassword">忘记密码</a> </span>
</td>
  </tr>
</table>

		  </div>
		</form>
	</div>
<include file="Public/foot" />