<include file="full-time-top" />
<div class="xinxi-title">
	<ul class="clearfix" id="details-ul">
					<li><a href="full-time-new">最新信息</a></li>
							<li><a href="full-time-show">显示中的信息</a></li>
							<li><a href="full-time-check">审核中的信息</a></li>
							<li class="hover"><a href="javascript:void(0);" id="sc">未显示的信息</a></li>
			</ul>
</div>	    	<div style="text-align: center; padding: 50px 30px;"> 暂时还没有已关闭的信息</div>
    </div>

<div class="area_cz4">
		</div>
<!-- flag=iResearch-zp-qy -->
</body>