<include file="full-time-top" />
<div class="xinxi-title">
	<ul class="clearfix" id="details-ul">
					<li class="hover"><a href="javascript:void(0);" id="zx">最新信息</a></li>
							<li><a href="full-time-show">显示中的信息</a></li>
							<li><a href="full-time-check">审核中的信息</a></li>
							<li><a href="full-time-hide">未显示的信息</a></li>
			</ul>
</div>		 
		</div>
				<!-- 新版 -->
		<div class="toptitbar">
	    	<!-- <div class="checkarea"><input name="" type="checkbox" value="" /></div> -->
	        <span class="text1">信息</span>
	        <span class="text3" ></span>
		</div>
		<div class="tgmainbox job">
						<div class="tgitembox" id="tr20880321476360" >
		        <div class="tgitembox-m clearfix">
		        	<div class="tgitembox-m-l" style="width:423px,height=203px">           	               
		                <div class="xx-tit">
							<h2><a href="http://sh.58.com/zplvyoujiudian/20880321476360x.shtml" target="_blank">服务员1000包食宿</a><span class="wz1"><a target="_blank" href="http://sh.58.com/">上海</a>-<a target='_blank' href='http://sh.58.com/chuancaiyuan/'>传菜员</a></span></h2>
		                    		                    <a class="my_jianli" href="javascript:parent.setbg('招聘职位：<b>服务员1000包食宿</b>',750,450,'http://jianli.58.com/interviewinvitereceive/?list=apply&type=2&infoid=20880321476360')">应聘简历</a>
		                    			                    	<span class="jl-num">（<b>16</b>）</span> |
		                    			                    		                                                            浏览量：39次
		                    		                </div>
		                <div class="xx-cz">
		                																								<a class="my_shuaxin" id='reflashspan20880321476360' title='刷新后信息靠前显示，相当于新发一条。' onclick="job_reflashinfo('20880321476360');" href='javascript:void(0);'>刷新</a>
																						<a class="my_xiugai qy_xiugai_id" id='update20880321476360' href="javascript:void(0);" onclick="xiugaiNomoalInfo(20880321476360)">修改</a>
							<a class="my_shan" href="javascript:job_closeinfo1('20880321476360')" id="del_20880321476360">关闭</a>
															<a class="wx_float_layer" href="javascript:void(0)" id="wx_20880321476360"><font class="red">未</font>同步到微信</a>
														<span id='topspan20880321476360' style="display:none"><a class="my_zhiding" href='javascript:$.c.info.InfoTop("20880321476360",1001);' tongji="list_opt_zhiding">置顶</a></span>
												<span style='display: none;' class='ico-w ding-w' title='委托置顶中' id="ding_20880321476360"></span>
		                </div>
		                <div class="xx-bh">
		                	信息编号：20880321476360<span class="ml15">更新时间：2015-02-05 17:18:38</span>
		                </div> 
		            </div>
		            <div class="tgitembox-m-r" style="width:354px,height=203px">
		            		            		<iframe id="tuiguang_20880321476360" src="" frameborder="0" scrolling="0" class="iframe_0" style="height:123px; overflow:hidden"></iframe>
		            		            </div>
		        </div>
		    </div>
		    		</div>
		<div class="bottomczbar">
						</div>
		<!-- end 新版 -->
	</div>

<!-- flag=iResearch-zp-qy -->
</body>