<include file="part-time-top" />
<div class="xinxi-title">
	<ul class="clearfix" id="details-ul">
					<li class="hover"><a href="javascript:void(0);" id="zx">最新信息</a></li>
							<li><a href="part-time-show">显示中的信息</a></li>
							<li><a href="part-time-check">审核中的信息</a></li>
							<li><a href="part-time-hide">未显示的信息</a></li>
			</ul>
</div>		 			<div id="46">
			<div class="user_banner">
			</div>
		</div>
				<!-- 新版 -->
		<div class="toptitbar">
	    	<!-- <div class="checkarea"><input name="" type="checkbox" value="" /></div> -->
	        <span class="text1">信息</span>
	        <span class="text3" ></span>
		</div>
		<div class="tgmainbox job">
						<div class="tgitembox" id="tr20880321476360" >
		        <div class="tgitembox-m clearfix">
		        	<div class="tgitembox-m-l" style="width:423px,height=203px">           	               
		                <div class="xx-tit">
							<h2><a href="http://sh.58.com/zplvyoujiudian/20880321476360x.shtml" target="_blank">服务员1000包食宿</a><span class="wz1"><a target="_blank" href="http://sh.58.com/">上海</a>-<a target='_blank' href='http://sh.58.com/chuancaiyuan/'>传菜员</a></span></h2>
		                    		                    <a class="my_jianli" href="javascript:parent.setbg('招聘职位：<b>服务员1000包食宿</b>',750,450,'http://jianli.58.com/interviewinvitereceive/?list=apply&type=2&infoid=20880321476360')">应聘简历</a>
		                    			                    	<span class="jl-num">（<b>16</b>）</span> |
		                    			                    		                                                            浏览量：39次
		                    		                </div>
		                <div class="xx-cz">
		                																								<a class="my_shuaxin" id='reflashspan20880321476360' title='刷新后信息靠前显示，相当于新发一条。' onclick="job_reflashinfo('20880321476360');" href='javascript:void(0);'>刷新</a>
																						<a class="my_xiugai qy_xiugai_id" id='update20880321476360' href="javascript:void(0);" onclick="xiugaiNomoalInfo(20880321476360)">修改</a>
							<a class="my_shan" href="javascript:job_closeinfo1('20880321476360')" id="del_20880321476360">关闭</a>
															<a class="wx_float_layer" href="javascript:void(0)" id="wx_20880321476360"><font class="red">未</font>同步到微信</a>
														<span id='topspan20880321476360' style="display:none"><a class="my_zhiding" href='javascript:$.c.info.InfoTop("20880321476360",1001);' tongji="list_opt_zhiding">置顶</a></span>
												<span style='display: none;' class='ico-w ding-w' title='委托置顶中' id="ding_20880321476360"></span>
		                </div>
		                <div class="xx-bh">
		                	信息编号：20880321476360<span class="ml15">更新时间：2015-02-05 17:18:38</span>
		                </div> 
		            </div>
		            <div class="tgitembox-m-r" style="width:354px,height=203px">
		            		            		<iframe id="tuiguang_20880321476360" src="" frameborder="0" scrolling="0" class="iframe_0" style="height:123px; overflow:hidden"></iframe>
		            		            </div>
		        </div>
		    </div>
		    		</div>
		<div class="bottomczbar">
						</div>
		<!-- end 新版 -->
	</div>
<script src="/js/artDialog/artDialog.js?skin=default"></script>
<script src="/js/artDialog/plugins/iframeTools.js"></script>
<script>
	(function(){
		boot.require('util.js',function(Frame,js){
			var idsdirection = '20880321476360|606|sh',
			idsinfotopweb = '20880321476360',
			src1 = 'http://infotopweb.union.vip.58.com/infotopnet/gettopstatejs?m=setTopState&infoids=' + idsinfotopweb,
			src2 = 'http://zhineng.58.com/out/isiadvt?m=setDirectionState&&sysFlag=2&infoids=' + idsinfotopweb;
			src3 = 'http://jingzhun.58.com/promotionstates/getPromotionStates?m=seePromotionState&infoids=' + idsdirection;
			js.append(src1,function(){});
			js.append(src2,function(){});
			js.append(src3,function(){});
		});
	})()
</script>
<script type="text/javascript">
	var reasonDtlTimer;
	function showReasonDtl(infoId){
	  closeAllReasonDtl();
	  $("#ReasonDtl_"+infoId).show();
	}
	
	function hideReasonDtl(infoId){
		clearTimeout(reasonDtlTimer);
	    reasonDtlTimer = setTimeout("hideReasonDtlDiv("+infoId+")", 200);
	}
	
	function hideReasonDtlDiv(infoId){
	    $("#ReasonDtl_"+infoId).hide();
	}
	function showReasonDtlDiv(infoId){
		clearTimeout(reasonDtlTimer);
	}
	function closeAllReasonDtl(){
	  $("div[id^='ReasonDtl_']").each(function(i){
  	 	$(this).hide();
	  });
	}
	function xiugaiNomoalInfo(infoid){
		if($("#tr"+infoid).attr("IsTop")=="1"){
			var ret = window.confirm("修改信息类别或归属地，置顶信息在原类别和归属地展示，您确定要修改吗？");
			if(ret){
				window.open("http://post.58.com/update/"+infoid,'_blank');
			}
		}else{
			window.open("http://post.58.com/update/"+infoid,'_blank');
		}
	}
	$(document).ready(function(){
		if(top.location.href.indexOf("vip.58.com")>=0){
			var popmaskVo = new top.VipPop.Init("qy_wx","<div class='syn_wx_mask' style='background: none repeat scroll 0 0 #000000;height: 100%;left: 0;opacity: 0.5;position: fixed;top: 0;height:100%;width: 100%;z-index: 1000;display: none;'></div>");
			var popconTentVo = new top.VipPop.Init("qy_wx_c","<div class='syn_wx_con' style=' background: none repeat scroll 0 0 #FFFFFF;border: 8px solid #595959;border-radius: 10px;display: none;left: 50%;margin-left: -390px;margin-top: -200px;overflow: hidden;position: fixed;top: 50%;z-index: 1001;'><a class='syn_wx_close' title='关闭' style='position: absolute;right: 30px;top: 25px;width: 24px;height: 24px;background: url(http://img.58cdn.com.cn/ui7/my/syn_wx_close.png);'></a><div class='syn_wx_code' style='width: 452px;height: 277px;padding-top: 65px;margin: 0 100px 40px 100px;'><img src='http://img.58cdn.com.cn/ui7/my/syn_wx.png'></div></div>");
			top.VipPop.Show(popmaskVo);
			top.VipPop.Show(popconTentVo);
			$(window.parent.document).find('.syn_wx_close').click(function(){
				$(window.parent.document).find('.syn_wx_mask').css('display','none');
				$(window.parent.document).find('.syn_wx_con').css('display','none');
			});
		}
		var framehtml = setframe();
		$("#cubeFrame").append(framehtml);
		$('.wx_float_layer').click(function(){
			$(window.parent.document).find('.syn_wx_mask').css('display','block');
			$(window.parent.document).find('.syn_wx_con').css('display','block');
			window.parent.clickLog('from=zplistwx');
		});
		$('.ico-ask').click(function(){
			window.open('http://e.58.com/zhaopin.html','_blank');
		});
	});
</script>
<!-- flag=iResearch-zp-qy -->
</body>