
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>谁下载了我的简历</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="private" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/usermgm20121108_v20150305170743.css" />
    <script type="text/javascript" src="__PUBLIC__/resumeinfo_v0.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery_v0.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/favoriteinfo_v0.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/common_v20150210232843.js"></script>
	<script type="text/javascript" language="javascript">document.domain = "__ROOT__"; var isHasPart = true </script>
</head>
<body>
<div class="telephoneJianli">
		<i class="telephoneIcon"></i>
		<div class="telephoneJianli_tip">
			<p class="topTip">应聘进度跟踪功能，尚未开启</p>
			<P class="bottomTip">开启后，当有企业查看您的简历时，您将及时收到通知，轻松把握应聘进度！<a class="lookContent"  href="javascript:setParentSetbgFun('开启新功能',570,240,'http://jianli.58.com/scanerweima');" onClick="clickLog('from=myzp_open_downresume');" >查看详情>></a></P>
		</div>
		<a class="telephoneJianli_turnOn" href="javascript:setParentSetbgFun('开启新功能',570,240,'http://jianli.58.com/scanerweima');" onClick="clickLog('from=myzp_open_downresume');">马上开启</a>
	</div>
    <div class="applyhistory">
        <div class="title clearfix">
    	<h2 class="balance-h2">谁下载了我的简历<span class="a-tip">(最近1天被下载 <span class="red">0</span> 条，共被下载2次)</span></h2>
		<span class="history-tip">
    		<div id="toudi" class="toudi">
            	<span title="下载的简历">下载的简历</span>
           		<div id="toudilist" class="toudilist" style="display:none">
                 	<ul>
                    	                        	<li><a  href="/downloadresumeui/r81655688400903/" title="啊啊啊">啊啊啊</a></li>
                       	                        	<li><a  href="/downloadresumeui/r81651879497479/" title="求职发单员三年经验">求职发单员三年经验</a></li>
                       	                        	<li><a  href="/downloadresumeui/r81648500774151/" title="ananadddd">ananadddd</a></li>
                       	                        	<li><a  href="/downloadresumeui/r81647604707847/" title="求销售工作 负2年经验">求销售工作 负2年经验</a></li>
                       	                        	<li><a  href="/downloadresumeui/r81566606611716/" title="求职传菜员">求职传菜员</a></li>
                       	                        	<li><a  class="selectToudi"  href="/downloadresumeui/">不限</a></li>
                	</ul>
            	</div>
        	</div>
	    </span>
	</div>
	<div class="c"></div>
    <table class="qz">
	<tbody>
		<tr>
			<th width="25px">&nbsp;</th>
			<th width="303px">公司名称</th>
			<th width="151px">下载时间</th>
            <th width="232px">被下载的简历</th>
			<th width="93px">操作</th>
		</tr>
        	        	        <tr>
	        	             	<td>&nbsp;<!-- <input class="checkqx" type="checkbox" id="cbID" name="cbID" value='' /> --></td>
             	<td>
	             		             	<a href="http://qy.58.com/20097886100486/" target="_blank" title="济南景虹房产经纪有限公司">济南景虹房产经纪有限公司</a>
	             	             	</td>
            	<td>2015-02-09</td>
             	<td><a href="/showresumeinfo/?rid=81647604707847" target="_blank" title="求销售工作 负2年经验">求销售工作 负2年经验</a></td>
             	<td>
             		             			<a href="http://qy.58.com/20097886100486/" target="_blank" class="comment">点评企业</a>
             		             	</td>
             	<!-- <td><a href="javascript:DeleteDownload('entity.ID');">删除</a></td> -->
	        </tr>
	        	        <tr>
	        	             	<td>&nbsp;<!-- <input class="checkqx" type="checkbox" id="cbID" name="cbID" value='' /> --></td>
             	<td>
	             		             	<a href="http://qy.58.com/14502188407302/" target="_blank" title="沈阳麦塔通讯信息有限公司">沈阳麦塔通讯信息有限公司</a>
	             	             	</td>
            	<td>2015-02-09</td>
             	<td><a href="/showresumeinfo/?rid=81647604707847" target="_blank" title="求销售工作 负2年经验">求销售工作 负2年经验</a></td>
             	<td>
             		             			<a href="http://qy.58.com/14502188407302/" target="_blank" class="comment">点评企业</a>
             		             	</td>
             	<!-- <td><a href="javascript:DeleteDownload('entity.ID');">删除</a></td> -->
	        </tr>
	                    </tbody>
    </table>
    <div class="area_cz3">
        <div style="float:right; padding:2px 0;" class="pager" id="pageInfo">
        	<script type="text/javascript">seperatePage("pageInfo", "/downloadresumeui", 1, 1)</script>
        </div>
                    </div>
    <div class="c"></div>
    <script type="text/javascript" language="javascript">
    	$(".qz tr").hover(function(){ $(this).children("td").addClass("hover") },function(){ $(this).children("td").removeClass("hover") });
        $("#toudi").mouseover(function(){
        	$("#toudilist").show();
        	$("#toudilist").prev().addClass("active");
        });
        $("#toudi").mouseout(function(){
        	$("#toudilist").hide();
        	$("#toudilist").prev().removeClass("active");
        });
	    resizeFrame();
        function resizeFrame() {
            document.domain = "58.com";
            if (parent.document.getElementById("ContainerFrame") != null) {
                parent.document.getElementById("ContainerFrame").style.height = 1000 + "px";
            }
        }
    </script>
    </div>
    <script type="text/javascript">
var _gaq = _gaq || [];var site_name = "58"; 
var _trackURL = "{'pagetype':'jianli_my','page':'downloadresumeui'}";
_gaq.push(['pageTracker._setAccount', 'UA-877409-4']);
_gaq.push(['pageTracker._setDomainName', '.58.com']);
_gaq.push(['pageTracker._setAllowLinker', true]);
_gaq.push(['pageTracker._addOrganic', 'sogou', 'query']);
_gaq.push(['pageTracker._addOrganic', 'baidu', 'word']);
_gaq.push(['pageTracker._addOrganic', 'soso', 'w']);
_gaq.push(['pageTracker._addOrganic', 'youdao', 'q']);
_gaq.push(['pageTracker._addOrganic', '360', 'q']); 
_gaq.push(['pageTracker._trackPageview', '/downloadresumeui']);
$.getScript( ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js');
$.getScript('http://tracklog.58.com/referrer4.js');
(function(){
    clickLog('from=mydownloaded');
})();

</script>
</body>
</html>