<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>谁下载了我的简历</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Cache-Control" content="private" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/css/usermgm20121108_v0.css" />
</head>
<body>
<div class="applyhistory">
        <div class="title clearfix">
    	<h2 class="balance-h2">谁下载了我的简历<span class="a-tip">(最近1天被下载 <span class="red">0</span> 条，共被下载0次)</span></h2>
		<span class="history-tip">
    		<div id="toudi" class="toudi">
            	<span title="下载的简历">下载的简历</span>
           		<div id="toudilist" class="toudilist" style="display:none">
                 	<ul>
                    	                        	<li><a  href="/downloadresumeui/r81074704836102/" title="美工">美工</a></li>
                       	                        	<li><a  class="selectToudi"  href="/downloadresumeui/">不限</a></li>
                	</ul>
            	</div>
        	</div>
	    </span>
	</div>
	<div class="c"></div>
    <table class="qz">
	<tbody>
		<tr>
			<th width="25">&nbsp;</th>
			<th width="303">公司名称</th>
			<th width="151">下载时间</th>
            <th width="232">被下载的简历</th>
			<th width="93">操作</th>
		</tr>
      </tbody>
	  <tbody>
		<!-- <col width="10" />
		<col width="270" />
		<col width="270" />
		<col width="100" />
		<col width="165" />
		<tr>
			<th>&nbsp;</th>
			<th>投递的职位</th>
			<th>公司名称</th>
			<th>投递时间</th>
			<th>操作</th>
		</tr> -->
                	                <tr>
                    <td><input class="checkqx" type="checkbox" id="cbID" name="cbID" value="850554658136984" /></td>
                                        <td><a href="http://qy.58.com/51353646/" target="_blank">北京风向标旅游文化公司</a>
                                      
                                        <td>
                   		                   			<a href="http://qy.58.com/51353646/" target="_blank"></a>           							  2015-01-14</td>
												                    	<td class="dfk"><a href="http://jn.58.com/tech/20017127351170x.shtml" target="_blank" title="网页平面设计师">网页平面设计师</a></td>
	                    					                    <td><a href="javascript:DeleApply(850554658136984);">查看</a></td>
                </tr>
      </tbody>
    </table>
  <div class="area_cz3">
        <div style="float:right; padding:2px 0;" class="pager" id="pageInfo">
        	<script type="text/javascript">seperatePage("pageInfo", "/downloadresumeui", 0, 1)</script>
        </div>
        <div class="area_cz3">
          <div style="float:right; padding:2px 0;" class="pager" id="div">
            <script type="text/javascript">seperatePage("pageInfo", "/applypositionhistoryui", 1, 1)</script>
          </div>
          <input name="checkbox" type="checkbox" class="checkqx" onclick="SelectAllCheckBox(this)" value="0" />
          全选
  <input name="button" type="button" class="btn-v2" onclick="javascript:DeleteAllApply();" value="删除" />
        </div>
  </div>
    <div class="c"></div>
</body>
</html>